*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.rt-RadioGroupItem {
    border: 1px solid #949494;
    border-radius: 5px;
    cursor: pointer;
}
.rt-RadioGroupItem span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}
.rt-RadioGroupItem button {
    display: none;
}
.rt-RadioGroupItem button[aria-checked=true] + span {
    background-color: rgba(145, 248, 255, 0.3);
}
